*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(31, 65, 85, 0.75),rgba(31, 55, 66, 0.75),rgba(0, 0, 0, 0.75)
    ),url(Background\ group.jpg);
    background-size: cover;
    background-position: center;

}
/* 
navbar{
    display:flex;
    flex-wrap: wrap;    
    align-items: center;  
    justify-content: space-between;
    background-color: rgb(222, 27, 27);
    padding: 15px;
}     */
    a{    
    text-decoration: none;
    color: inherit;    
    }
    .logo{
        width: 100px;
        margin-right: 60vw;
        margin-left: 20px;
        margin: top -10px ;
    }    
    .nava{
        background-color: transparent;
    }
    .list{  
    list-style: none;
    display: flex;  
    gap: 25px;
    }  
    #toggler,
    .navbar label{
        display: none;
    }
    @media screen and (max-width: 600px) {
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
     }
      .list{
           flex-direction: column;
           align-items: center;
           padding: 20px;
      }
 
      .navbar label{
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      color: azure;

 
}
 #toggler:checked ~.menu{
 
     max-height: 100;
 }
 
}
.content{
    width: 100%;
    position: absolute;
    top: 50% ;
    transform: translatey(50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    text-align: ;

}


 
